/* GLOBAL STYLES
-------------------------------------------------- */

.jumbotron, .jumbotron-fluid {
	margin-bottom: 0px;
    background-image: url('assets/images/184H.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}